/* Font Families */
.font-port-lligat {
  font-family: 'Port Lligat Slab', serif;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.font-syne {
  font-family: 'Syne', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}